src/main/resources/xml/uniSecondStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Faculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Cathedra" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Student" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="University">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Faculty" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cathedra">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Group" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Student">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Subject" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="surname" use="required"/>
      <xs:attribute type="xs:string" name="sex" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Mark" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mark">
    <xs:complexType>
      <xs:attribute name="Rating" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:pattern value = "[1-5]" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>